dist
frontend/dist
frontend/node_modules

# Python
__pycache__/
*.pyc
.env/

# Base de données
*.sqlite3
*.db
*.json

# Node
node_modules/

# Env
frontend/.env.local
backend/.env
fastapi_kossi/.env
.env.local

*.md