# ─────────────────────────────────────────────────────────────────
# .env.example — Variables d'environnement du backend Django (CAEB)
# Copier ce fichier en .env et remplir les valeurs réelles.
# NE JAMAIS commiter le fichier .env dans Git.
# ─────────────────────────────────────────────────────────────────

# ── Django ────────────────────────────────────────────────────
SECRET_KEY='django-insecure-clé-généré'
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# ============================================================
# CONFIGURATION BASE DE DONNÉES POSTGRESQL (SUPABASE)
# ============================================================

# Nom de la base PostgreSQL
DB_NAME=postgres

# Utilisateur PostgreSQL fourni par Supabase
DB_USER=postgres.sxuzosbuzesbkjlghaww

# Mot de passe de la base de données
# ⚠️ Ne jamais partager ce mot de passe publiquement
DB_PASSWORD=VOTRE_MOT_DE_PASSE_DB

# Adresse du serveur PostgreSQL Supabase
DB_HOST=aws-1-eu-central-1.pooler.supabase.com

# Port PostgreSQL :
# 6543 = mode pooler Supabase (recommandé)
DB_PORT=6543

# Active la connexion sécurisée SSL
# Toujours "require" avec Supabase
DB_SSLMODE=require


# ============================================================
# CONFIGURATION CORS
# ============================================================

# Liste des URLs autorisées à accéder à l’API backend
# Séparées par des virgules
# localhost:5173 → Vite
# localhost:3000 → React/Next.js
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000


# ============================================================
# CONFIGURATION EMAIL SMTP (VÉRIFICATION DE COMPTE)
# ============================================================

# Serveur SMTP Gmail
EMAIL_HOST=smtp.gmail.com

# Port SMTP TLS Gmail
EMAIL_PORT=587

# Active TLS pour sécuriser les emails
EMAIL_USE_TLS=True

# Adresse Gmail utilisée pour envoyer les emails
EMAIL_HOST_USER=votre-adresse@gmail.com

# Mot de passe d’application Google
# ⚠️ Ce n’est PAS votre mot de passe Gmail normal
# Générer ici :
# https://myaccount.google.com/apppasswords
EMAIL_HOST_PASSWORD=votre-mot-de-passe-application

# Adresse affichée comme expéditeur
DEFAULT_FROM_EMAIL=no-reply@caeb-natitingou.org


# ============================================================
# CONFIGURATION SUPABASE STORAGE
# (Upload des couvertures de livres)
# ============================================================

# URL principale du projet Supabase
SUPABASE_URL=https://sxuzosbuzesbkjlghaww.supabase.co

# Clé publique (frontend autorisé)
# Peut être exposée côté client
SUPABASE_ANON_KEY=VOTRE_SUPABASE_ANON_KEY

# Clé privée administrateur
# ⚠️ À garder STRICTEMENT secrète
# Ne jamais envoyer au frontend
SUPABASE_SERVICE_ROLE_KEY=VOTRE_SERVICE_ROLE_KEY

# Nom du bucket Storage utilisé pour stocker les images
SUPABASE_STORAGE_BUCKET=book-covers